canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body,
html,
#allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑";
}

body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}

.demoHeaders {
    margin-top: 2em;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

#icons {
    margin: 0;
    padding: 0;
}

#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.chart-wrapper {
   height: 45%;
}

.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}

select {
    width: 200px;
}

.value-label-comb {
    line-height: 44px;
}

.value-label-comb .value {
    line-height: 22px;
}

.value-label-comb .label {
    line-height: 22px;
}

.chart-wrapper .title {
    position: relative;
    padding: 11px;
}

.chart-wrapper .title .title-content {
    display: inline-block;
    line-height: 44px;
}

.chart-wrapper .title .value-label-comb {
    display: inline-block;
    position: absolute;
    right: 11px;
    top: 11px;
}
